body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    border-collapse: collapse;
    font-size: 10pt;
    border: 1px solid rgb(255, 255, 255)
}

td {
    padding: 8px;
    height: 25px;
}

th {
    background-color: rgb(0, 124, 93);
    color: white;
    height: 30px;
}

table, th, td{
    padding: 8px 20px;
    text-align: left;
    
}

table tr:nth-child(even) {
    background: rgb(240, 247, 244);

}

div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-right: 670px;
    color: darkcyan;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(3, 88, 88);
}

img {
    height: 300px;
    margin-left: 275px;
}

section { margin-top: -335px; 
    margin-left: 60px;

}

iframe {
    margin-left: 450px;
    margin-bottom: 40px;
}

video {
    margin-left: 350px;
}

object {
    margin-left:500px;
    height: 250px;
}

audio{
    color: #345B63;
}